form{
    width: 500px;
    height: auto;
    margin: 123px;
    margin-left: 500px;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}
label{
    padding: 20px;
    border-radius: 2px ;
}